<div class="col s12">
  <ul class="tabs grey z-depth-1">
    <li class="tab col s3">
      <a class="active white-text" href="{% url 'profile' object.user.username %}">Principal</a>
    </li>
    <li class="tab col s3">
      <a class="white-text" href="#test2">Chat</a>
    </li>
    <li class="tab col s3">
      <a class="white-text" href="#test3">Formar Trip</a>
    </li>
    <li class="tab col s3">
      <a class="white-text" href="#test5">Mates</a>
    </li>
    <li class="tab col s3">
      <a class="white-text" href="#test6">Perfil</a>
    </li>
  </ul>
</div>