<nav class="grey" id="menu_profile">
  <div class="nav-wrapper">
    <ul>
      <li {% if active_page == 'profile' %}class="active"{% endif %}>
        <a class="white-text center-align" href="{% url 'profile' object.user.username %}">Principal</a>
      </li>
      <li {% if active_page == 'chat' %}class="active"{% endif %}>
        <a class="white-text center-align" href="javascript:">Chat</a>
      </li>
      <li {% if active_page == 'format_trip' %}class="active"{% endif %}>
        <a class="white-text center-align" href="javascript:;">Formar Trip</a>
      </li>
      <li {% if active_page == 'mates' %}class="active"{% endif %}>
        <a class="white-text center-align" href="{% url 'mates' object.user.username %}">Mates</a>
      </li>
      <li {% if active_page == 'perfil' %}class="active"{% endif %}>
        <a class="white-text center-align" href="javascript:;">Perfil</a>
      </li>
    </ul>
  </div>
</nav>