{% load static %}

{% load tags %}

<div class="col m3">
  <div class="card">
    <div class="card-image">
      <img src="{{ object.user|get_profile_photo }}" alt="sample">
    </div>
    <div class="card-content center">
      <h4 class="black-text">
        {{ object.user.full_name|default:object.user.username }},
        <br>
        {{ object.age }} anos
      </h4>
      <ul class="left-align">
        <li>
          <i class="mdi-action-wallet-travel tiny"></i>
          {{ object.job_title }}
        </li>
        <li>
          <i class="mdi-action-home tiny"></i>
          {{ object.living_city }}
        </li>
        <li>
          <i class="mdi-action-room tiny"></i>
          {{ object.born_city }}
        </li>
        <li>
          <i class="mdi-action-language tiny"></i>
          Fala Inglês e Português
        </li>
      </ul>
      <br>
      <ul>
        <li><a href="">Ver perfil</a></li>
        <li><a href="">Editar perfil</a></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-title center grey">
      Segurança
    </div>
    <div class="card-content">
      <ul class="left-align">
        <li class="green-text">
          <i class="mdi-action-done tiny"></i>
          Login 
        </li>
        <li {% if object.user.is_active %}class="green-text"{% endif %}>
          <i class="mdi-communication-email tiny"></i>
          Email confirmado 
        </li>
        <li {% if object.phone %}class="green-text"{% endif %}>
          <i class="mdi-communication-phone tiny"></i>
          Telefone
        </li>
        <li {% if object.references_to.exists %}class="green-text"{% endif %}>
          <i class="mdi-action-star-rate tiny"></i>
          Avaliado
        </li>
        <li {% if object.references_to.exists %}class="green-text"{% endif %}>
          <i class="mdi-action-stars tiny"></i>
          Referência
        </li>
      </ul>

      <div class="progress tooltipped" data-position="top" data-delay="50" data-tooltip="Segurança: {{ object.calcular_seguranca }} de 5 pontos de informação" style="height: 40px;background-color: #E1E1E1;">
        <div class="determinate {% if object|seguranca_em_porcentagem <= 30 %}red{% elif object|seguranca_em_porcentagem <= 70 %}yellow{% else %}green{% endif %} lighten-1" style="width: {{ object|seguranca_em_porcentagem }}%;"></div>   
      </div>
    </div>
  </div>

  {% if request.user.is_authenticated and request.user.profile == object %}
    <div class="card">
      <div class="card-title center grey">
        Jogo de interesses
      </div>
      <div class="card-content">
        <div class="collection">
          {% for profile in object|jogo_de_interesse %}
            <a href="{% url 'profile' profile.user.username %}" class="collection-item avatar grey-text">
              <img src="{{ profile|get_profile_photo }}" class="circle">
              <span class="title">{{ profile.user.full_name|default:profile.user.username }}</span>
              <br>
              {% for interest in profile.interests.all %}
                <strong>{{ interest.title }}</strong>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>