{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% load tags %}

{% load url from future %}

{% block extra_css %}
  <style type="text/css">
    .tabs .indicator {
      background-color: #FFF;
    }

    .tab a {
      font-size: 12px;
    }

    .collection .collection-item.avatar {
      min-height: 70px !important;
      height: auto;
    }
  </style>
{% endblock %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
  <div class="row">
    {% include "includes/menu_profile.html" %}

    <div class="col s12">
      <div id="test1" class="col s12">
        <div class="row">
          {% if request.user.is_authenticated and request.user.profile == object %}
            <a href="{% url 'profile' %}" class="btn-large waves-effect waves-light red lighten-1 right">
              <i class="mdi-content-create left"></i>
              Editar Perfil
            </a>
          {% elif request.user.is_authenticated and request.user|is_mate_with:object %}
            <button type="submit" class="btn-large disabled right">
              <i class="mdi-navigation-check left"></i>
              Mates
            </button>
          {% else %}
            <form action="{% url 'become-mates' object.user.username %}" method="POST">
              <input type="hidden" name="to_user" id="id_to_user" value="{{ object.id }}" />
              <button type="submit" class="btn-large waves-effect waves-light red lighten-1 right">
                <i class="mdi-content-add left"></i>
                Mate
              </button>
            </form>
          {% endif %}
          
          <h3>Principal</h3>
        </div>

        <div class="row">
          {% include "includes/sidebar_profile.html" %}
            
          <div class="col m9">
            <div class="row white">
              <div class="col s12">
                <div class="row margin">
                  <h4 class="header2">Quem sou eu</h4>
                  <blockquote>
                    {{ object.about }}
                  </blockquote>
                </div>
              </div>
            </div>

            <div class="row white">
              <div class="col s12">
                <div class="row margin">
                  <h4 class="header2">Interesses</h4>

                  <div class="row">
                    {% if request.user.is_authenticated and request.user.profile == object %}
                      <div class="col s12">
                        <form class="col s12" method="POST" action="{% url 'update_profile_about_me' %}">
                          {% csrf_token %}
                          <div class="row">
                            <div class="input-field col" style="width: calc(100% - 185px);">
                              {% render_field update_profile_about_form.about class+="materialize-textarea" required=required %}
                              <label for="{{ update_profile_about_form.about.id }}" data-error="{{ update_profile_about_form.about.errors.0 }}">
                                Fale sobre você
                              </label>
                              <br>
                              {% if update_profile_about_form.about.help_text %}
                                <p class="help-about caption">{{ update_profile_about_form.about.help_text }}</p>
                              {% endif %}
                            </div>
                            <div class="input-field right" style="width: 185px;top: 15px;">
                              <button type="submit" class="center btn btn-wide btn-large waves-effect waves-light red lighten-1">
                                <i class="mdi-content-add left"></i>
                                Salvar
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    {% endif %}
                  </div>
                  <div class="row">
                    {% for interest in object.interests.all %}
                      <div class="col s3 tooltipped" data-position="top" data-delay="50" data-tooltip="{{ interest.description }}">
                        <i class="{{ interest.image_class|default:'mdi-image-photo-album' }} circle large left"></i>
                        <br>
                        <p>{{ interest.title }}</p>
                      </div>  
                    {% endfor %}
                  </div>
                  {% if request.user.is_authenticated and request.user.profile == object %}
                    <br>
                    <div class="row center">
                      <div class="col s12">
                        <a href="{% url 'profile_interests' %}" class="btn btn-wide btn-large waves-effect waves-light red lighten-1">
                          <i class="mdi-content-add left"></i>
                          Editar interesses
                        </a>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="row white">
              <div class="col s12">
                <div class="row margin">
                  <h4 class="header2">Avaliações</h4>
                  <div>
                    <a href="javascript:;" id="rating-1" class="yellow-text lighten-3">
                      <i class="mdi-action-star-rate medium"></i>
                    </a>
                    <a href="javascript:;" id="rating-1" class="yellow-text lighten-3">
                      <i class="mdi-action-star-rate medium"></i>
                    </a>
                    <a href="javascript:;" id="rating-1" class="yellow-text lighten-3">
                      <i class="mdi-action-star-rate medium"></i>
                    </a>
                    <a href="javascript:;" id="rating-1" class="grey-text lighten-4">
                      <i class="mdi-action-star-rate medium"></i>
                    </a>
                    <a href="javascript:;" id="rating-1" class="grey-text lighten-4">
                      <i class="mdi-action-star-rate medium"></i>
                    </a>
                    <br>
                  </div>

                  <div class="collection">
                    {% for reference in object.ultimas_referencias.all %}
                      <div class="collection-item avatar">
                        <img src="{{ reference.from_user|get_profile_photo }}"  class="circle">
                        <span class="title">
                          {% if reference.from_user == reference.to_user and reference.from_user == object %}
                            Referência pessoal
                          {% else %}
                            {{ reference.from_user.user.full_name|default:reference.from_user.user.username }}
                          {% endif %}
                        </span>
                        <p>
                          {{ reference.text }}
                        </p>

                        <div class="rating">
                          {% for rating in reference.rating|as_range %}
                            <span class="yellow-text lighten-3">
                              <i class="mdi-action-star-rate small"></i>
                            </span>
                          {% endfor %}
                        </div>

                        {% if request.user.is_authenticated and request.user.profile == object %}
                          <a href="{% url 'active_reference' reference.id %}" class="secondary-content reference-item red-text lighten-1">
                            {% if reference.active %}
                              <i class="mdi-toggle-check-box"></i>
                            {% else %}
                              <i class="mdi-toggle-check-box-outline-blank"></i>
                            {% endif %}
                          </a>
                        {% endif %}
                      </div>
                    {% endfor %}

                    {% if request.user.is_authenticated and request.user|is_mate_with:object or request.user.is_authenticated and request.user.profile == object %}
                      <form class="col s12" method="POST" action="{% url 'add_reference' %}">
                        <h4 class="header2">Referência</h4>

                        {% csrf_token %}
                        <input type="hidden" name="to_user" value="{{ object.id }}" />
                        <div class="row">
                          <div class="input-field col s12">
                            {% render_field reference_form.text class+="materialize-textarea" required=required %}
                            <label for="{{ reference_form.text.id }}" data-error="{{ reference_form.text.errors.0 }}">
                              {{ reference_form.text.label }}
                            </label>
                            <br>
                            {% if reference_form.text.help_text %}
                              <p class="help-text caption">{{ reference_form.text.help_text }}</p>
                            {% endif %}
                          </div>
                          <div class="input-field col s12">
                            <p class="grey-text lighten-4">Classifique</p>
                            <div class="rating">
                                <a href="javascript:;" id="rating-1" class="yellow-text lighten-3">
                                  <i class="mdi-action-star-rate medium"></i>
                                  <input class="hide" type="radio" name="rating" value="1" />
                                </a>
                              <a href="javascript:;" id="rating-2" class="grey-text lighten-5">
                                <i class="mdi-action-star-rate medium"></i>
                                <input class="hide" type="radio" name="rating" value="2" />
                              </a>
                              <a href="javascript:;" id="rating-3" class="grey-text lighten-5">
                                <i class="mdi-action-star-rate medium"></i>
                                <input class="hide" type="radio" name="rating" value="3" />
                              </a>
                              <a href="javascript:;" id="rating-4" class="grey-text lighten-5">
                                <i class="mdi-action-star-rate medium"></i>
                                <input class="hide" type="radio" name="rating" value="4" />
                              </a>
                              <a href="javascript:;" id="rating-5" class="grey-text lighten-5">
                                <i class="mdi-action-star-rate medium"></i>
                                <input class="hide" type="radio" name="rating" value="5" />
                              </a>
                            </div>
                          </div>
                          <div class="row center">
                            <button type="submit" class="center btn btn-wide btn-large waves-effect waves-light red lighten-1">
                              <i class="mdi-content-add left"></i>
                              Adicionr referência
                            </button>
                          </div>
                        </div>
                      </form>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row center grey">
              <h4 style="padding-top: 15px;color:#FFF">
                <span></span>Não deixe de viajar <a class="btn btn-large red lighten-1" href="">FORME SUA TRIP</a>
              </h4>  
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extra_js %}
   <script type="text/javascript">
     $(document).ready(function () {
       $('.rating a').click(function () {
          $('.rating a').addClass('grey-text lighten-5').removeClass('red-text lighten-1');

          $(this).find('input').attr('checked', 'checked');
          var index = $(this).find('input').val();
          for (var i = 1; i <= parseInt(index); i++) {
            var these = $('.rating #rating-' + i);
            $(these).removeClass('grey-text lighten-5');
            $(these).addClass('red-text lighten-1');
          };
       });
     });
   </script>
{% endblock extra_js %}